<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar color="primary">
    <h1>LocalCast Weather</h1>
  </mat-toolbar>
  <div fxLayoutAlign="center">
    <div class="mat-caption vertical-margin">Your city, your forecast, right now!</div>
  </div>
  <div fxLayout="row">
    <div fxFlex></div>
    <mat-card fxFlex="300px">
      <mat-card-header class="mat-typography">
        <mat-card-title>
          <h2 class="mat-headline">Current Weather</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-current-weather></app-current-weather>
      </mat-card-content>
    </mat-card>
    <div fxFlex></div>
  </div>
</div>


